{

    "plugins": [
        "babel-plugin-transform-export-extensions",
        "babel-plugin-transform-object-rest-spread",
    ],

    "ignore": [
        "node_modules/**/*.js",
        "lib/**/*.js"
    ]
}
